/* ***** Header and Footer ***** */

header {
    background-color: #263238;
    padding-left: 750px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #263238;
    padding-left: 100px;
    height: 60px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul {
    padding-top: 5px;
}

footer p {
    color: white;
    font-size: small;
    font-style: italic;
}

/* ***** Links ***** */

a:link, a:visited {
    color: #03A9F4;
}

a:hover {
    background-color: #FF3D00;
    color: white;
}

.information a:link, a:visited {
    font-style: normal;
}

/* ***** Icons ***** */

i {
    color: black;
}

/* ***** Title Bar ***** */

.titleBar {
    background-image: url(header-background.jpg);
    background-size: 75px, 60px;
    background-repeat: repeat-x;
    height: 56px;
    
}

.titleText {
    padding: 10px 0px 0px 90px;
    font-family: fantasy, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

strong {
    font-weight: bold;
    color: #FF3D00;
}

nav {
    font-family: fantasy, sans-serif;
    background-color: #607D8B;
    margin-bottom: 35px;;
}

ul {
    list-style-type: none;
    padding: 3px 0px 3px 0px;
}

li {
    font-size: small;
    display: inline;
    padding: 5px 3px 5px 3px;
}

/* ***** Profile Picture ***** */

.profilePicture {
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-color: #C5CAE9;
    border-style: solid;
    border-width: 1px;
}

.profilePic {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 5px 5px;
}

.profileName {
    font-weight: bold;
    font-size: 25px;
    font-family: fantasy;
    text-align: center;
    margin-bottom: 30px;
}

/* ***** Div Border ***** */

.contentBlock {
    border-color: #C5CAE9;
    border-style: solid;
    border-width: 1px;
    margin: 15px 100px 0px 100px;
}

/* ***** Pattern Titles ***** */

.titlePattern {
    background-image: url(header-background.jpg);
    background-size: 45px, 30px;
    background-repeat: repeat-x;
    height: 40px;

}

.whiteText {
    color: white;
    font-family: fantasy;
    font-weight: bold;
    font-size: 15px;
    padding: 7px 0px 0px 10px;
}

/* ***** Middle Section ***** */

.information {
    margin: 0px 0px 5px 5px;
    font-style: italic;
    font-family: fantasy, sans-serif;
    color: rgb(122, 121, 121);
    width: 100%;
    height: 100%;
}

mark {
    font-style: normal;
    font-family: fantasy, sans-serif;
    background-color: white;
}

.information li {
    display: block;
}

/* ***** Button Bar ***** */

.buttonBar {
    background-size: 45px, 60px;
    background-color: #607D8B;
    height: 30px;
}

button {
    margin: 5px 0px 0px 10px;
    background-color:  #FF3D00;
    color: white;
    font-weight: bold;
}

/* ***** Graph ***** */

.graph {
    height: 400px
}

.graph img {
    width: 100%;
    height: 100%;
}
